* {
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 13px;
    min-height: 21px;
}
window#waybar {
    background: #1b1e25;
}

tooltip {
    background: #1b1e25;
    border-radius: 8px;
    border-width: 0px;
}
tooltip label {
    font-size: 13px;
    color: #86afef;
}
#workspaces button {
    color: #2d333f;
    background: #f76f53;
    border-radius: 0px;
}
#workspaces button.active {
    background-color: #e6e4d7;
    color: #2d333f;
}

#workspaces button:hover {
    background-color: #e6e4d7;
    color: #2d333f;
}

#workspaces button.focused {
    background-color: #e6e4d7;
    color: #2d333f;
}
#workspaces{
	font-size: 14;
	color: #2d333f;
	background: #f76f53;
	margin-top: 10px;
        margin-bottom: 10px;
}
#mpris {
	font-size: 14;
	color: #a3be8c;
	background: transparent;
	margin-top: 10px;
	padding-left: 13px;
	padding-right: 13px;
        border-bottom: 3px solid #a3be8c;
}
#image {
    min-width: 40px;
    min-height: 40px;
    margin-top: 10px;
    padding-right: 13px;
}
#temperature {
	font-size: 14;
	color: #86afef;
	background: transparent;
	margin-top: 10px;
	padding-left: 13px;
	padding-right: 13px;
        border-bottom: 3px solid #86afef;
}
#memory{
    	font-size: 14;
	color: #d35e86;
	background: transparent;
	margin-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
        border-bottom: 3px solid #d35e86;
}
#clock{
	font-size: 14;
	color: #b48ead;
	background: transparent;
	margin-top: 10px;
	padding-left: 13px;
	padding-right: 13px;
        border-bottom: 3px solid #b48ead;
}

#battery{
	font-size: 14;
	background: transparent;
	color: #c1af79;
	margin-top: 10px;
	padding-left: 12px;
	padding-right: 12px;
        border-bottom: 3px solid #c1af79;
}
#cpu{
    	font-size: 14;
	color: #85c3a9;
	background: transparent;
	margin-top: 10px;
	padding-left: 8px;
	padding-right: 8px;
        border-bottom: 3px solid #85c3a9;
}

#network{
    	font-size: 14;
	color: #bf616a;
	background: transparent;
	margin-top: 10px;
	padding-left: 9px;
	padding-right: 9px;
        border-bottom: 3px solid #bf616a;
}
#pulseaudio{
    	font-size: 14;
	color: #80c0d0;
	background: transparent;
	margin-top: 10px;
	padding-left: 8px;
	padding-right: 8px;
        border-bottom: 3px solid #80c0d0;
}
