/* ---- 💫 https://github.com/JaKooLit 💫 ---- */
/* Main Config - emoji */

@import "~/.config/rofi/config.rasi" 

/* ---- Entry ---- */
entry {
  enabled: false;
}
inputbar {
    spacing:                     10px;
    padding:                     130px 60px;
    background-color:            transparent;
}
textbox-prompt-colon {
    enabled: false;
}
/* ---- Listview ---- */
listview {
  columns: 1;
  lines: 8;
}
