home/.config/hypr/pics/20220902_065637_nord.jpg
home/.config/hypr/pics/wall_1.png
home/.config/hypr/pics/wallpaper_tracking.txt
home/.config/hypr/pics/wallpaper.png
home/.config/hypr/pics/imag26e.png
home/.config/hypr/pics/ishtar.jpeg
home/.config/hypr/pics/kita-1.png
home/.config/hypr/pics/moondrop-bus.jpg
home/.config/hypr/pics/poster.png
home/.config/hypr/pics/at_the_coffeshop.png
home/.config/hypr/pics/another.jpg
home/.config/hypr/pics/bocchi-4.png
home/.config/hypr/pics/cloud.png
home/.config/hypr/pics/EDKIo6D.png
home/.config/hypr/pics/sitting.png
home/.config/hypr/pics/rhel9-dark.jpg
home/.config/fish/fish_variables
