pics/20220902_065637_nord.jpg
pics/wall_1.png
pics/wallpaper_tracking.txt
pics/wallpaper.png
pics/imag26e.png
pics/ishtar.jpeg
pics/kita-1.png
pics/moondrop-bus.jpg
pics/poster.png
at_the_coffeshop.png
pics/another.jpg
pics/bocchi-4.png
pics/cloud.png
pics/EDKIo6D.png
pics/sitting.png
pics/rhel9-dark.jpg
.venv
