.venv
home/assets/wallpapers/20220902_065637_nord.jpg
home/assets/wallpapers/EDKIo6D.png
home/assets/wallpapers/another.jpg
home/assets/wallpapers/at_the_coffeshop.png
home/assets/wallpapers/blank.png
home/assets/wallpapers/bocchi-4.png
home/assets/wallpapers/cloud.png
home/assets/wallpapers/imag26e.png
home/assets/wallpapers/ishtar.jpeg
home/assets/wallpapers/kita-1.png
home/assets/wallpapers/moondrop-bus.jpg
home/assets/wallpapers/nord-night.png
home/assets/wallpapers/poster.png
home/assets/wallpapers/rhel9-dark.jpg
home/assets/wallpapers/sitting.png
home/assets/wallpapers/wall_1.png
home/assets/wallpapers/wallpaper.png
home/assets/wallpapers/wallpaper_tracking.txt
