/* ---- 💫 https://github.com/JaKooLit 💫 ---- */
/* Main Config - emoji */

@import "~/.config/rofi/config.rasi" 
configuration {
	modi:                       "window";
    show-icons:                 true;
	drun-display-format:        "{name}";
	window-format:              "{w} · {c} · {t}";
}
/* ---- Entry ---- */
entry {
  width: 30%;
  placeholder: "                         Search Windows";
}

/* ---- Listview ---- */
listview {
  columns: 1;
  lines: 8;
}
